tensorflow==2.17.0
librosa
flask
soundfile
werkzeug
pydub
pandas
seaborn
IPython
sounddevice
flask-cors
requests
beautifulsoup4
google-generativeai
urllib3
streamlit
ffmpeg-python
SpeechRecognition
opencv-python
gTTS